{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.dateStart) }}

    {{ form_row(form.dateEnd) }}
    {% if form.dateEnd > dispo.dateEnd %}
        <button class="btn" disabled>Envoyer</button>
    {% else %}
        <button class="btn" disabled>Envoyer</button>
    {% endif %}
    <br>
    {{ form_end(form) }}

{% endblock %}
