{% extends "base.html.twig" %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="header_homepage d-flex flex-wrap">
        <div class="header_homepage_cover-img">
            <div class="header_button-top d-flex align-items-start w-100 flex-wrap justify-content-end">
                <a href="" class="header_button_login btn">
                    SE CONNECTER
                </a>
                header
                <a href="" class="header_button_signin btn">S'ENREGISTRER</a>
            </div>
            <h1 class="header_title_name text-center w-100">PLACE 2 PARK</h1>
            <a href="" class="homepage_button_search btn btn-success">
                CHERCHER UNE PLACE
            </a>
        </div>


    </div>
{% endblock %}