{% extends "base.html.twig" %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
<div id="header_homepage d-flex">
    <div class="header_button-top d-flex align-items-start justify-content-end">
        <a href="" class="header_button_login btn btn-primary">
            <p class="">SE CONNECTER</p>
        </a>
        <a href="" class="header_button_signin btn btn-secondary">S'ENREGISTRER</a>
    </div>
    <h1 class="header_title_name text-center">PLACE 2 PARK</h1>

</div>
{% endblock %}