{% extends "base.html.twig" %}

{% block title %}Place2Park | Annonce{% endblock %}

{% block body %}
    <img src="{{ asset('uploads/' ~ parking.picture) }}" class="card-img-top" alt="parking's pictures" style="height: 50%">
    <p>{{ parking.type.label }}</p>
    <p>{{ disponibility.price }}</p>


{% endblock %}

