@import "~bootstrap/scss/bootstrap";
 //layout style
@import "layout/header";
@import "layout/footer";

// model style
@import "model/user";

@import "type";

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
