
// if the user is logged
.user {
  &_picture{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  &_infos{
    color: #FFFFFF;
    justify-content: flex-start;
    width: 100%;
  }
  &_name p {
    font-size: 30px;
  }
}

.header {
  &_button {
    &_user {
      &-profil {
        height: 35px;

      }
    }
  }
}