<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Place 2 Park {% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}
{{ include('Default/footer.html.twig') }}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="../node_modules/bootstrap/js">

    </script>
{% endblock %}
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>