<!DOCTYPE html>
<html>

<head>
    <meta lang="fr">
    <meta charset="UTF-8">
    <title>{% block title %}Place 2 Park {% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}
<footer>
    <div class="footer_social_media-left">
        <a href="">
            {#      TODO insert Facebook logo         #}
            <img src="" alt="">
        </a>
        <a href="">
            {#      TODO insert Twitter logo         #}
            <img src="" alt="">
        </a>
        <a href="">
            {#      TODO insert Instagram logo         #}
            <img src="" alt="">
        </a>
        <a href="">
            {#      TODO insert LinkedInlogo         #}
            {#      ?  Possibly fontAwesome icon or other  ?   #}
            <img src="" alt="">
        </a>
    </div>
    <div class="footer_name-middle">
        <h3>{{ 'place2park'|upper }}</h3>
        <div class="footer_name_link-middle">
            <a href="">Mention légales</a>
            <a href="">RGPD</a>
            <a href="">Politique cookies</a>
        </div>
        <div class="footer_nav-right">
            <h4 class="footer_nav_title">{{ 'navigation rapide'|upper }}</h4>
            <div class="footer_nav_content">
                {#  todo insert link to important page #}
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>